<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd">
                           
	<bean id="configBean" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties" />
	</bean>
	
	<!-- 阿里 druid数据库连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!-- 基本属性 url、user、password -->  
        <property name="driverClassName" value="${db.driverClassName}" />  
        <property name="url" value="${db.url}" />  
        <property name="username" value="${db.username}" />  
        <property name="password" value="${db.password}" />  
        <property name="initialSize" value="20" />  
        <property name="minIdle" value="5" />   
        <property name="maxActive" value="20" />  
        <property name="maxWait" value="60000" />
        <!-- 超过时间限制是否回收 -->
        <property name="removeAbandoned" value="true" />
        <!-- 超过时间限制多长； -->
        <property name="removeAbandonedTimeout" value="25" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="25000" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25000" />
        <!-- 用来检测连接是否有效的sql，要求是一个查询语句-->
        <!-- <property name="validationQuery" value="SELECT 1" /> -->
        <!-- 申请连接的时候检测 -->
        <!-- <property name="testWhileIdle" value="true" /> -->
        <!-- 申请连接时执行validationQuery检测连接是否有效，配置为true会降低性能 -->
        <!-- <property name="testOnBorrow" value="false" /> -->
        <!-- 归还连接时执行validationQuery检测连接是否有效，配置为true会降低性能  -->
        <!-- <property name="testOnReturn" value="false" /> -->
    </bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com\hanshow\mapper\*Mapper.xml" />
		<property name="typeAliasesPackage" value="com.hanshows.model" />
		<property name="configLocation" value="classpath:mybatis_config.xml" />
	</bean>

	<!-- 扫描dao接口，跟xml文件 接口必须跟xml在同一包下 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hanshow.mapper"></property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	 <!-- 扫描注释注入 -->
	<context:annotation-config />
	<context:component-scan base-package="com.hanshow.service,com.hanshow.mapper" />
	
</beans>